#leftSider  {
    .logo {
        height: 60px;
        img {
            height: 36px;
        }
    }

    .ant-menu-item {
        a {
            color: #4E5155;
            text-decoration: none;
        }
    }
}