#leftSider {
    .logo {
        height: 60px;

        img {
            height: 36px;
        }
    }

    .ant-menu-item {
        a {
            color: #4E5155;
            text-decoration: none;
        }
    }

    .ant-menu-dark {
        .ant-menu-item {
            a {
                color: rgba(255, 255, 255, 0.65);
                text-decoration: none;
            }
        }
    }
}